body {
  background-color: #f5f6fb;
}

.header {
  /*background-image: url(../../bot/help/background/header.png);*/
  box-shadow: 0 0 8px #72a2ae79;
}

.box {
  background-color: #f4f2e4;
  box-shadow: 0 0 8px #72a2ae79;
}

.pointer-bar {
  width: 95%;
  height: 8px;
  display: inline-block;
  background-color: rgb(0, 0, 0, 0.2);
  border-radius: 0.25rem;
}

.pointer-progress-bar {
  border-radius: 0.25rem;
  height: 100%;
  background: #fff6e2;
}

.name {
  color: #ffffee;
  text-shadow: 0 0.08em 0.1em #00000093, 0 0.1em 0.3em rgba(0, 0, 0, 0.4);
}

.uid {
  color: #fff;
  background: linear-gradient(
    to right,
    rgb(0, 0, 0, 0),
    #3f7587 25%,
    #3f7587 75%,
    rgb(0, 0, 0, 0)
  );
}

.about {
  background-color: #e0dad3;
  color: #8a4d30;
}

.frame-pic {
  border-color: #fdfdf356;
}

.frame {
  border-color: #cdbea8;
}
