<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <link rel="stylesheet" type="text/css" href="gacha_log.css" />
    <link type="text/css" href="../../styles/public.css" rel="stylesheet" />
    <link rel="preload" href="./img/starrail.png" as="image" />
    <script src="../../js/tailwindcss-3.1.8.js"></script>
    <title>Title</title>
  </head>
  <body id="container" class="body_box">
    <div class="container">
      <div class="info_box">
        <div class="header p-2 rounded-xl mb-6" style='background-image: url("{{ background }}")'>
          <div class="frame p-4 rounded-lg border-solid border-2 flex items-center">
            <div>
              <h2 class="font-bold italic">未复刻列表</h2>
              <h2 class="italic">
              <span class="label text-neutral-600 label_302"
                >角色池</span
              >
              </h2>
            </div>
          </div>
        </div>

        <div class="data_box">
          <div class="line_box">
            <span class="line"></span>
            <span class="text">五星列表</span>
            <span class="line"></span>
          </div>

          <div class="card_list">
            {% for val in fiveLog %}
                {% set d = fiveData[val] %}
            <div class="item star5">
               {% if d.last_up_day == 0 %}
              <span class="minimum">UP</span>
              {% endif %}
              <img class="role" src="{{ d.icon }}" alt="" />
              <div class="num_name">{{ d.last_up_day }}</div>
            </div>
            {% endfor %}
          </div>

          <div class="line_box">
            <span class="line"></span>
            <span class="text">四星列表</span>
            <span class="line"></span>
          </div>

          <div class="card_list">
            {% for val in fourLog %}
                {% set d = fourData[val] %}
            <div class="item star4">
                {% if d.last_up_day == 0 %}
              <span class="minimum">UP</span>
              {% endif %}
              <img class="role" src="{{ d.icon }}" alt="" />
              <div class="num_name">{{ d.last_up_day }}</div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div class="logo">Template By Yunzai-Bot x Generated By PamGram</div>
      </div>
    </div>
  </body>
</html>
