body {
    font-size: 23px;
    color: #1e1f20;
    width: 550px;
}

.container {
    background: #F5F2EB;
    padding: 12px 16px;
    transform: scale(1.1) translateX(3%) translateY(2%);
}

.title {
    display: flex;
    position: relative;
    margin-bottom: 9px;
    color: #504c49;
}

.title .id {
    flex: 1;
    padding-left: 10px;
    position: relative;
}

.title .id:before {
    content: " ";
    position: absolute;
    width: 5px;
    height: 24px;
    left: 0;
    top: 0;
    background: #d3bc8d;
}

.item {
    border: 1px solid #dfd8d1;
    display: flex;
    margin-top: 5px;
}

.item .main {
    display: flex;
    flex: 1;
    background-color: #eee4d6;
    position: relative;
}

.item .main .bg {
    width: 200px;
    height: 100%;
    position: absolute;
    left: 0;
    background-size: 100% auto;
    background-image: url(./items/bg.png);
}

.item .main .icon {
    width: 42px;
    height: 42px;
    margin: 10px;
}

.item .main .info {
    padding-top: 7px;
}

.item .main .info .name {
    line-height: 1;
    margin-bottom: 5px;
    margin-top: 2px;
}

.item .main .info .time {
    font-size: 17px;
    color: #5f5f5d;
}

.item .right {
    text-align: center;
    width: 128px;
    background-color: #decebb;
    font-size: 20px;
    color: #504c49;
    position: relative;
}

.item .right span {
    display: inline-block;
    padding: 20px;
}

.item .right::before, .item .right::after {
    content: " ";
    position: absolute;
    width: 18px;
    height: 15px;
    left: -9px;
    background: #F5F2EB;
    border-radius: 50%;
}

.item .right::before {
    top: -8px;
}

.item .right::after {
    bottom: -8px;
}

.item .right .red {
    color: #f24e4c;
}

