<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="../activity/css/pc_f95b4488.css" rel="stylesheet">
    <link href="css/r_pc_hsr_index~r_pc_ys_index_7732160a.css" rel="stylesheet">
</head>
<body>
<div>
    <div data-v-05dcb228="" class="pc-role-detail">
        <div data-v-05dcb228="" class="">
            <div data-v-05dcb228="" class="pc-role-detail-num">
                <img data-v-05dcb228="" src="https://act.hoyolab.com/app/community-game-records-sea/rpg/images/main_stats.febe99b5.png" class="pc-role-detail-num-bg">
                <div data-v-282e6297="" data-v-05dcb228="" class="pc-rdnp">
                    <div data-v-282e6297="" class="pc-rdnp-left">
                        <div data-v-4f195d12="" data-v-282e6297="" class="c-hrd-ri">
                            <div data-v-4f195d12="" class="c-hrd-ri-bg"></div>
                            <div data-v-4f195d12="" class="c-hrd-ri-img-wrapper">
                                <img data-v-4f195d12="" src="https://act-webstatic.hoyoverse.com/game_record/hkrpg/custom/avatar_image/1209@2x.png?x-oss-process=image%2Fformat%2Cwebp" class="c-hrd-ri-img">
                            </div>
                            <div data-v-4f195d12="" class="c-hrd-ri-info">
                                <div data-v-4f195d12="" class="c-hrd-ri-1"><p data-v-4f195d12="" class="c-hrd-ri-name">
                                    {{ char.name }}</p>
                                    <p data-v-4f195d12="" class="c-hrd-ri-lv">{{ char.level }}级</p></div>
                                <div data-v-4f195d12="" class="c-hrd-ri-2">
                                    <div data-v-4f195d12="" class="c-hrd-ri-attr-icon">
                                        <img data-v-4f195d12=""
                                             src="https://act.hoyolab.com/app/community-game-records-sea/rpg/images/ice.7569a93b.png">
                                    </div>
                                    <div data-v-4f195d12="" class="c-hrd-ri-attr-icon">
                                        <img data-v-4f195d12=""
                                             src="https://act.hoyolab.com/app/community-game-records-sea/rpg/images/Thehunt.6b571c66.png">
                                    </div>
                                </div>
                                <div data-v-4f195d12="" class="c-hrd-ri-3">
                                    {% for rank in char.ranks %}
                                        {% if rank.is_unlocked %}
                                            {% set lock = '' %}
                                        {% else %}
                                            {% set lock = 'lock=1' %}
                                        {% endif %}
                                    <div data-v-3a0d6e6d="" data-v-4f195d12="" class="c-hrd-dhp">
                                        <div data-v-3a0d6e6d="" class="c-hrd-dhp-ref">
                                            <div data-v-21fffaf5="" data-v-3a0d6e6d="" {{ lock }} size=""
                                                 class="c-hrd-icon-rank">
                                                <img data-v-21fffaf5=""
                                                     src="{{ rank.icon }}?x-oss-process=image%2Fformat%2Cwebp"
                                                     {{ lock }} class="c-hrd-icon-rank-img">
                                                {% if not rank.is_unlocked %}
                                                <i data-v-21fffaf5="" class="c-hrd-icon-rank-lock"></i>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div data-v-3ec9e6f6="" data-v-282e6297="" class="c-hrt-lct"><!---->
                            <div data-v-3ec9e6f6="" class="c-hrt-lct-lc">
                                <div data-v-3ec9e6f6="" class="c-hrt-lct-tb" name="光锥">
                                    <svg data-v-3ec9e6f6="" width="1em" height="1em" viewBox="0 0 8 8" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.812 2.812C3.208 2.417 4 .833 4 .833s.792 1.584 1.187 1.98C5.583 3.207 7.167 4 7.167 4s-1.584.792-1.98 1.187C4.792 5.583 4 7.167 4 7.167s-.792-1.584-1.188-1.98C2.417 4.792.833 4 .833 4s1.584-.792 1.98-1.188z"
                                              fill="#fff"></path>
                                    </svg>
                                    <span data-v-3ec9e6f6="">光锥</span>
                                    <svg data-v-3ec9e6f6="" width="1em" height="1em" viewBox="0 0 8 8" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.812 2.812C3.208 2.417 4 .833 4 .833s.792 1.584 1.187 1.98C5.583 3.207 7.167 4 7.167 4s-1.584.792-1.98 1.187C4.792 5.583 4 7.167 4 7.167s-.792-1.584-1.188-1.98C2.417 4.792.833 4 .833 4s1.584-.792 1.98-1.188z"
                                              fill="#fff"></path>
                                    </svg>
                                    <svg data-v-3ec9e6f6="" width="1em" height="1em" viewBox="0 0 8 8" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.812 2.812C3.208 2.417 4 .833 4 .833s.792 1.584 1.187 1.98C5.583 3.207 7.167 4 7.167 4s-1.584.792-1.98 1.187C4.792 5.583 4 7.167 4 7.167s-.792-1.584-1.188-1.98C2.417 4.792.833 4 .833 4s1.584-.792 1.98-1.188z"
                                              fill="#fff"></path>
                                    </svg>
                                </div>
                                {% set equip = char.equip %}
                                <div data-v-3ec9e6f6="" class="c-hrt-lct-lc-btm">
                                    <div data-v-2e78cb19="" data-v-3ec9e6f6="" class="c-hrd-dcp c-hrt-lct-lc-img">
                                        <div data-v-2e78cb19="" class="c-hrd-dcp-ref">
                                            <img data-v-3ec9e6f6="" data-v-2e78cb19="" src="{{ equip.icon }}?x-oss-process=image%2Fformat%2Cwebp">
                                        </div>
                                    </div>
                                    <div data-v-3ec9e6f6="" class="c-hrt-lct-lc-info"><p data-v-3ec9e6f6="" rarity="3"
                                                                                         class="c-hrt-lct-lc-name">
                                        {{ equip.name }}</p>
                                        <div data-v-3ec9e6f6="" class="c-hrt-lct-lc-info-btm">
                                            <span data-v-3ec9e6f6="" class="c-hrt-lct-lc-lv">{{ equip.level }}级</span>
                                            <span data-v-3ec9e6f6="" class="c-hrt-lct-lc-rank">叠影 {{ equip.rank }}阶</span></div>
                                    </div>
                                </div>
                            </div>
                            <div data-v-3ec9e6f6="" class="c-hrt-lct-t">
                                <div data-v-3ec9e6f6="" class="c-hrt-lct-tb" name="行迹">
                                    <svg data-v-3ec9e6f6="" width="1em" height="1em" viewBox="0 0 8 8" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.812 2.812C3.208 2.417 4 .833 4 .833s.792 1.584 1.187 1.98C5.583 3.207 7.167 4 7.167 4s-1.584.792-1.98 1.187C4.792 5.583 4 7.167 4 7.167s-.792-1.584-1.188-1.98C2.417 4.792.833 4 .833 4s1.584-.792 1.98-1.188z"
                                              fill="#fff"></path>
                                    </svg>
                                    <span data-v-3ec9e6f6="">行迹</span>
                                    <svg data-v-3ec9e6f6="" width="1em" height="1em" viewBox="0 0 8 8" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.812 2.812C3.208 2.417 4 .833 4 .833s.792 1.584 1.187 1.98C5.583 3.207 7.167 4 7.167 4s-1.584.792-1.98 1.187C4.792 5.583 4 7.167 4 7.167s-.792-1.584-1.188-1.98C2.417 4.792.833 4 .833 4s1.584-.792 1.98-1.188z"
                                              fill="#fff"></path>
                                    </svg>
                                    <svg data-v-3ec9e6f6="" width="1em" height="1em" viewBox="0 0 8 8" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path d="M2.812 2.812C3.208 2.417 4 .833 4 .833s.792 1.584 1.187 1.98C5.583 3.207 7.167 4 7.167 4s-1.584.792-1.98 1.187C4.792 5.583 4 7.167 4 7.167s-.792-1.584-1.188-1.98C2.417 4.792.833 4 .833 4s1.584-.792 1.98-1.188z"
                                              fill="#fff"></path>
                                    </svg>
                                </div>
                                <div data-v-1dab6d78="" data-v-3ec9e6f6="" class="c-hrd-sp-pc">
{#                                    四个主要行迹#}
                                    <div data-v-1dab6d78="" class="c-hrd-sp-pc-L">
                                        {% for skill in char.skills_main %}
                                        <div data-v-1dab6d78="" class="c-hrd-sp-pc-L-item">
                                            <div data-v-3a0d6e6d="" data-v-1dab6d78="" class="c-hrd-dhp">
                                                <div data-v-3a0d6e6d="" disable-scale="true" class="c-hrd-dhp-ref">
                                                    <div data-v-db299a18="" data-v-3a0d6e6d="" type="L" size=""
                                                         class="c-hrd-sk-ic">
                                                        <div data-v-db299a18="" type="L" size=""
                                                             class="c-hrd-sk-ic-inner">
                                                            <img data-v-db299a18="" src="{{ skill.item_url }}?x-oss-process=image%2Fresize%2Cw_64%2Fformat%2Cwebp"
                                                                                            crossorigin="anonymous">
                                                            <span data-v-db299a18="" size="">{{ skill.level }}</span>
                                                        </div> <!---->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <div data-v-1dab6d78="" class="c-hrd-sp-pc-right">
{#                                        额外行迹#}
                                        <div data-v-1dab6d78="" class="c-hrd-sp-pc-lone">
                                            {% for skill in char.skills_single %}
                                            <div data-v-1dab6d78="" class="c-hrd-sp-pc-lone-item">
                                                <div data-v-3a0d6e6d="" data-v-1dab6d78="" class="c-hrd-dhp">
                                                    <div data-v-3a0d6e6d="" disable-scale="true" class="c-hrd-dhp-ref">
                                                        <div data-v-db299a18="" data-v-3a0d6e6d="" type="S" size=""
                                                             class="c-hrd-sk-ic">
                                                            <div data-v-db299a18="" type="S" size=""
                                                                 class="c-hrd-sk-ic-inner">
                                                                <img data-v-db299a18=""
                                                                     src="{{ skill.item_url }}"
                                                                     crossorigin="anonymous"
                                                                     width="64"
                                                                     height="64"
                                                                >
                                                            </div>
                                                            <!----></div>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endfor %}
                                        </div>
{#                                        行迹在树上#}
                                        <div data-v-1dab6d78="" class="c-hrd-sp-pc-lines">
                                            {% for item in char.skills_map %}
                                            <div data-v-1dab6d78="" class="c-hrd-sp-pc-line">
                                                {% for skill in item %}
                                                    {% if loop.index == 1 %}
                                                    {% set type = "M" %}
                                                    {% else %}
                                                    {% set type = "S" %}
                                                    {% endif %}
                                                    {% if skill.is_activated %}
                                                    {% set lock = "" %}
                                                    {% else %}
                                                    {% set lock = 'lock="true"' %}
                                                    {% endif %}
                                                <div data-v-1dab6d78="" class="c-hrd-sp-pc-line-item">
                                                    <div data-v-3a0d6e6d="" data-v-1dab6d78="" class="c-hrd-dhp">
                                                        <div data-v-3a0d6e6d="" disable-scale="true"
                                                             class="c-hrd-dhp-ref">
                                                            <div data-v-db299a18="" data-v-3a0d6e6d="" type="{{ type }}" size=""
                                                                 class="c-hrd-sk-ic">
                                                                <div data-v-db299a18="" type="{{ type }}" size="" {{ lock }}
                                                                     class="c-hrd-sk-ic-inner">
                                                                    <img data-v-db299a18=""
                                                                     src="{{ skill.item_url }}"
                                                                     crossorigin="anonymous"
                                                                     width="64"
                                                                     height="64">
                                                                </div> <!---->
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {% endfor %}
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div data-v-282e6297="" class="pc-rdnp-right">
                        <div data-v-282e6297="" class="pc-rdnp-title">
                            <div data-v-282e6297="" class="pc-rdnp-title-left"><span data-v-282e6297=""> 角色属性</span>
                            </div>
                        </div>
                        <div data-v-03b70214="" data-v-282e6297="" class="c-hrdcs">
                            <div data-v-03b70214="" class="c-hrdcs-title"><!----> <span
                                    data-v-03b70214=""> 角色属性</span></div>
                            <div data-v-03b70214="" class="c-hrdcs-btm">
                                <div data-v-03b70214="" class="c-hrdcs-btm-half">
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/1d594298c19fd948fefbee25e36d8fab.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/1d594298c19fd948fefbee25e36d8fab.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">生命值</span>
                                        <div data-v-03b70214="" class="c-hrdcs-extra"><span data-v-03b70214=""
                                                                                            class="c-hrdcs-base">566</span>
                                            <span data-v-03b70214="" class="c-hrdcs-add">+103</span></div>
                                        <span data-v-03b70214="" class="c-hrdcs-num">669</span></div>
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">攻击力</span>
                                        <div data-v-03b70214="" class="c-hrdcs-extra"><span data-v-03b70214=""
                                                                                            class="c-hrdcs-base">373</span>
                                            <span data-v-03b70214="" class="c-hrdcs-add">+112</span></div>
                                        <span data-v-03b70214="" class="c-hrdcs-num">485</span></div>
                                    <div data-v-03b70214="" highlight="true" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/2afd64d2c225ef63e8acf4f622bd1a1a.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/2afd64d2c225ef63e8acf4f622bd1a1a.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon" style="display: none;"> <span
                                            data-v-03b70214="" class="c-hrdcs-name">防御力</span>
                                        <div data-v-03b70214="" class="c-hrdcs-extra"><span data-v-03b70214=""
                                                                                            class="c-hrdcs-base">238</span>
                                            <span data-v-03b70214="" class="c-hrdcs-add">+35</span></div>
                                        <span data-v-03b70214="" class="c-hrdcs-num">274</span></div>
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/91dcfbdb3f9866968023b197c124bad2.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/91dcfbdb3f9866968023b197c124bad2.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">速度</span>
                                        <div data-v-03b70214="" class="c-hrdcs-extra"><span data-v-03b70214=""
                                                                                            class="c-hrdcs-base">109</span>
                                            <span data-v-03b70214="" class="c-hrdcs-add">+0</span></div>
                                        <span data-v-03b70214="" class="c-hrdcs-num">109</span></div>
                                    <div data-v-03b70214="" highlight="true" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/772dbbb78e30b6a7941a421685cc467a.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/772dbbb78e30b6a7941a421685cc467a.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon" style="display: none;"> <span
                                            data-v-03b70214="" class="c-hrdcs-name">暴击率</span> <!----> <span
                                            data-v-03b70214="" class="c-hrdcs-num">5.0%</span></div>
                                    <div data-v-03b70214="" highlight="true" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/64a8496adf2f30f15ef4c00546fc34d7.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/64a8496adf2f30f15ef4c00546fc34d7.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon" style="display: none;"> <span
                                            data-v-03b70214="" class="c-hrdcs-name">暴击伤害</span> <!----> <span
                                            data-v-03b70214="" class="c-hrdcs-num">50.0%</span></div>
                                </div>
                                <div data-v-03b70214="" class="c-hrdcs-btm-half">
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/fa3e538ac3de053dea0f6db336f7c57d.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/fa3e538ac3de053dea0f6db336f7c57d.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">冰属性伤害提高</span>
                                        <!----> <span data-v-03b70214="" class="c-hrdcs-num">0.0%</span></div>
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/9c4135875fcb4e6c1b88b2e5713396fc.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/9c4135875fcb4e6c1b88b2e5713396fc.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">击破特攻</span>
                                        <!----> <span data-v-03b70214="" class="c-hrdcs-num">0.0%</span></div>
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/eff89ea981b29d2c928b9370a78b9c47.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/eff89ea981b29d2c928b9370a78b9c47.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">治疗量加成</span>
                                        <!----> <span data-v-03b70214="" class="c-hrdcs-num">0.0%</span></div>
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/6c30923c0d85bd718ef4891874256ebf.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/6c30923c0d85bd718ef4891874256ebf.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">能量恢复效率</span>
                                        <!----> <span data-v-03b70214="" class="c-hrdcs-num">100.0%</span></div>
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/096beece80cb78c3b9a27e0a4f3f8452.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/096beece80cb78c3b9a27e0a4f3f8452.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">效果命中</span>
                                        <!----> <span data-v-03b70214="" class="c-hrdcs-num">0.0%</span></div>
                                    <div data-v-03b70214="" class="c-hrdcs-item">
                                        <canvas data-v-03b70214=""
                                                data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/bd223860391de022c28683d3eb589f27.png"
                                                data-filter="changeColor" data-color="255,200,112" class="c-hrdr-icon"
                                                width="32" height="32" style="display: none;"></canvas>
                                        <img data-v-03b70214=""
                                             src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/bd223860391de022c28683d3eb589f27.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                             crossorigin="anonymous" class="c-hrdcs-icon"> <span data-v-03b70214=""
                                                                                                 class="c-hrdcs-name">效果抵抗</span>
                                        <!----> <span data-v-03b70214="" class="c-hrdcs-num">0.0%</span></div>
                                </div>
                            </div>
                        </div>
                        <div data-v-11b31764="" data-v-282e6297="" class="c-hrdrs">
                            <div data-v-11b31764="" class="c-hrdrs-title"><!----> <span
                                    data-v-11b31764=""> 遗器属性</span>
                                <div data-v-11b31764="" class="c-hrdrs-title-tip">有效副属性由开拓者自定义</div> <!---->
                            </div>
                            <div data-v-11b31764="" class="c-hrdrs-overview">
                                <div data-v-11b31764="" class="c-hrdrs-overview-left"><p data-v-11b31764=""
                                                                                         class="c-hrdrs-overview-left-1">
                                    有效副属性命中统计</p> <!----> <!---->
                                    <div data-v-11b31764="" class="c-hrdrs-overview-left-3">
                                        <div data-v-11b31764="" class="c-hrdrs-tag"><img data-v-11b31764=""
                                                                                         src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/2afd64d2c225ef63e8acf4f622bd1a1a.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                                                         crossorigin="anonymous"> <span
                                                data-v-11b31764="">防御力</span> <i data-v-11b31764="" grey="true">0</i>
                                        </div>
                                        <div data-v-11b31764="" class="c-hrdrs-tag"><img data-v-11b31764=""
                                                                                         src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/772dbbb78e30b6a7941a421685cc467a.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                                                         crossorigin="anonymous"> <span
                                                data-v-11b31764="">暴击率</span> <i data-v-11b31764="" grey="true">0</i>
                                        </div>
                                        <div data-v-11b31764="" class="c-hrdrs-tag"><img data-v-11b31764=""
                                                                                         src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/64a8496adf2f30f15ef4c00546fc34d7.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                                                         crossorigin="anonymous"> <span
                                                data-v-11b31764="">暴击伤害</span> <i data-v-11b31764=""
                                                                                      grey="true">0</i></div>
                                    </div>
                                </div>
                                <div data-v-11b31764="" class="c-hrdrs-overview-right">
                                    <div data-v-11b31764="" empty="true" class="c-hrdrs-overview-final"><span
                                            data-v-11b31764="">0</span></div>
                                    <p data-v-11b31764="" class="c-hrdrs-overview-text">总计命中</p></div>
                            </div>
                            <div data-v-11b31764="" class="c-hrdrs-btm">
                                <div data-v-02f45497="" data-v-11b31764="" class="c-hrdr-item"
                                     style="--817362f2: #73B0F4;">
                                    <div data-v-02f45497="" rarity="3" class="c-hrdr-title"><span
                                            data-v-02f45497=""> 头部</span> <!---->
                                        <div data-v-2e78cb19="" data-v-02f45497="" class="c-hrd-dcp c-hrdr-title-img">
                                            <div data-v-2e78cb19="" class="c-hrd-dcp-ref"><img data-v-02f45497=""
                                                                                               data-v-2e78cb19=""
                                                                                               src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/d7e7be18bba3ea145c3f40cc56c643c4.png?x-oss-process=image%2Fformat%2Cwebp">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-02f45497="" class="c-hrdr-btm">
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/1d594298c19fd948fefbee25e36d8fab.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/1d594298c19fd948fefbee25e36d8fab.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">生命值</span>
                                            <!----> <span data-v-02f45497="" class="c-hrdr-num">67</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">攻击力</span>
                                            <div data-v-02f45497="" class="c-hrdr-strength"><img data-v-02f45497=""
                                                                                                 src="https://act.hoyolab.com/app/community-game-records-sea/rpg/images/relic_times_icon.d8d07cb7.png">
                                                <span data-v-02f45497="">1</span></div>
                                            <span data-v-02f45497="" class="c-hrdr-num">2.5%</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                    </div>
                                </div>
                                <div data-v-02f45497="" data-v-11b31764="" class="c-hrdr-item"
                                     style="--817362f2: #73B0F4;">
                                    <div data-v-02f45497="" rarity="3" class="c-hrdr-title"><span
                                            data-v-02f45497=""> 手部</span> <!---->
                                        <div data-v-2e78cb19="" data-v-02f45497="" class="c-hrd-dcp c-hrdr-title-img">
                                            <div data-v-2e78cb19="" class="c-hrd-dcp-ref"><img data-v-02f45497=""
                                                                                               data-v-2e78cb19=""
                                                                                               src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/40e4757e2f5cf1c6f4a0f52ec5708776.png?x-oss-process=image%2Fformat%2Cwebp">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-02f45497="" class="c-hrdr-btm">
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">攻击力</span>
                                            <!----> <span data-v-02f45497="" class="c-hrdr-num">33</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/1d594298c19fd948fefbee25e36d8fab.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/1d594298c19fd948fefbee25e36d8fab.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">生命值</span>
                                            <!----> <span data-v-02f45497="" class="c-hrdr-num">22</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                    </div>
                                </div>
                                <div data-v-02f45497="" data-v-11b31764="" class="c-hrdr-item"
                                     style="--817362f2: #73B0F4;">
                                    <div data-v-02f45497="" rarity="3" class="c-hrdr-title"><span
                                            data-v-02f45497=""> 躯干</span> <!---->
                                        <div data-v-2e78cb19="" data-v-02f45497="" class="c-hrd-dcp c-hrdr-title-img">
                                            <div data-v-2e78cb19="" class="c-hrd-dcp-ref"><img data-v-02f45497=""
                                                                                               data-v-2e78cb19=""
                                                                                               src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/16ef695ebc8c670c1cdce89e64dc6380.png?x-oss-process=image%2Fformat%2Cwebp">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-02f45497="" class="c-hrdr-btm">
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">攻击力</span>
                                            <!----> <span data-v-02f45497="" class="c-hrdr-num">4.1%</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">攻击力</span>
                                            <!----> <span data-v-02f45497="" class="c-hrdr-num">10</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                    </div>
                                </div>
                                <div data-v-02f45497="" data-v-11b31764="" class="c-hrdr-item"
                                     style="--817362f2: #73B0F4;">
                                    <div data-v-02f45497="" rarity="3" class="c-hrdr-title"><span
                                            data-v-02f45497=""> 脚部</span> <!---->
                                        <div data-v-2e78cb19="" data-v-02f45497="" class="c-hrd-dcp c-hrdr-title-img">
                                            <div data-v-2e78cb19="" class="c-hrd-dcp-ref"><img data-v-02f45497=""
                                                                                               data-v-2e78cb19=""
                                                                                               src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/df5bff327b92aeaf28117a5f703f1c6d.png?x-oss-process=image%2Fformat%2Cwebp">
                                            </div>
                                        </div>
                                    </div>
                                    <div data-v-02f45497="" class="c-hrdr-btm">
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">攻击力</span>
                                            <!----> <span data-v-02f45497="" class="c-hrdr-num">4.1%</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/f720ffa1a239debbbd757d56874a9e03.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">攻击力</span>
                                            <!----> <span data-v-02f45497="" class="c-hrdr-num">12</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item">
                                            <canvas data-v-02f45497=""
                                                    data-origin-src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/1d594298c19fd948fefbee25e36d8fab.png"
                                                    data-filter="changeColor" data-color="255,200,112"
                                                    class="c-hrdr-icon" width="32" height="32"
                                                    style="display: none;"></canvas>
                                            <img data-v-02f45497="" type="img"
                                                 src="https://act-webstatic.hoyoverse.com/darkmatter/hkrpg/prod_gf_cn/item_icon_ud9dkb/1d594298c19fd948fefbee25e36d8fab.png?x-oss-process=image%2Fresize%2Cw_32%2Fformat%2Cwebp"
                                                 crossorigin="anonymous" class="c-hrdr-icon"> <span data-v-02f45497=""
                                                                                                    class="c-hrdr-name">生命值</span>
                                            <!----> <span data-v-02f45497="" class="c-hrdr-num">2.3%</span></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                        <div data-v-02f45497="" class="c-hrdr-btm-item"><!----></div>
                                    </div>
                                </div>
                                <div data-v-11b31764="" class="c-hrdrs-btm-empty"><img data-v-11b31764=""
                                                                                       src="https://act.hoyolab.com/app/community-game-records-sea/rpg/images/empty-m.1db234d8.png">
                                    <span data-v-11b31764="">暂未装备遗器</span></div>
                                <div data-v-11b31764="" class="c-hrdrs-btm-empty"><img data-v-11b31764=""
                                                                                       src="https://act.hoyolab.com/app/community-game-records-sea/rpg/images/empty-m.1db234d8.png">
                                    <span data-v-11b31764="">暂未装备遗器</span></div>
                            </div>
                        </div>
                    </div>
                    <div data-v-c07cc1fc="" data-v-282e6297=""
                         class="wiki-card-container pc-wiki-card-container wiki-card-container--desc"
                         style="--7ab948de: 236.60000610351562px; --7ab948df: 654.4000015258789px;">
                        <div data-v-c07cc1fc="" class="wiki-card-container__card-wrapper"><!----></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>