<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../../styles/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div>
    <div id="new-locust-container">
        <div style="height: 10px;"></div>
        <div>
            <p class="text-white text-center"><span class="border rounded-pill p-1">
						&nbsp;&nbsp;UID {{ uid }}&nbsp;&nbsp;
					</span></p>
        </div>
        <div id="overview">
            <div style="height: 27px;"></div>
            <div class="row" style="width: 90%; margin-left: 25px;">
                <div class="col">
                    <p class="text-white text-center">
                        <span>{{ cnt.narrow }}</span><br/><span>行者之道</span></p>
                </div>
                <div class="col">
                    <p class="text-white text-center">
                        <span>{{ cnt.miracle }}</span><br/><span>解锁奇物</span></p>
                </div>
                <div class="col">
                    <p class="text-white text-center">
                        <span>{{ cnt.event }}</span><br/><span>解锁事件</span></p>
                </div>
                <div class="col">
                    <p class="text-white text-center">
                        <span>{{ finish_cnt }}</span><br/><span>最近通关</span></p>
                </div>
            </div>
        </div>
        {% if record %}
        <div id="detail">
            <div style="height: 30px;"></div>
            <p class="text-white text-center"><span>{{ name }}</span></p>
            <p class="text-white small mx-3" style="position: relative;">
                <span style="margin-left: 40px;">{{ record.time_str }}</span>
                {% if record.fury %}
                <span style="position:absolute; right: 45px;">
                    {% if record.fury.type == 1 %}
                    扰动等级：{{ record.fury.point }}
                    {% endif %}
                </span>
                {% endif %}
            </p>
            <div class="hr"></div>
            <div style="height: 10px"></div>
            <div id="avatars">
                <div class="row" style="width: 90%; margin-left: 7.5%;">
                    {% for avatar in avatars %}
                    <div class="col avatar_width">
                        {% if avatar %}
                        <div style="position: relative;">
                            <img class="avatar rounded-2" src="{{ avatar.icon }}" alt="">
                            {% if avatar.rank > 0 %}
                            <p class="avatar_mz text-center">{{ avatar.rank }}</p>
                            {% endif %}
                        </div>
                        <p class="avatar_text_width text-white text-center small mt-1">Lv.{{ avatar.level }}</p>
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="hr"></div>
            <div style="height: 10px"></div>
            <div id="buff">
                {% for buff in record.buffs %}
                <div>
                    <p class="text-white text-center">
                        <img class="buff-img"
                             src="../../img/path/{{ buff_en_map.get(buff.base_type.name, 'None') }}.png" alt="">&nbsp;&nbsp;
                        {{ buff.base_type.name }}
                        <span class="badge rounded-pill bg-info">{{ buff.base_type.cnt }}</span>
                    </p>
                    <div class="ms-2">
                        {% set item_bg = ['', 'bg-secondary', 'bg-primary', 'bg-warning'] %}
                        {% for i in range(0, buff.items|length, 4) %}
                        {% set items = buff.items[i:i+4] %}
                        <div class="row" style="width: 90%; margin-left: 20px;">
                            {% for item in items %}
                            <div class="col" style="padding: 2px;">
                                <p class="text-white text-center small text-width text-over rounded-2 p-1 {{ item_bg[item.rank] }}">
                                    {{ item.name }}
                                </p>
                            </div>
                            {% endfor %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="hr"></div>
            <div style="height: 10px;"></div>
            <div id="m ms-2">
                <div class="row" style="width: 90%; margin-left: 20px;">
                    {% for miracle in record.miracles %}
                    <div class="col">
                        <img class="buff-img" src="{{ miracle.icon }}" alt="">
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div style="height: 30px;"></div>
        </div>
        {% endif %}
        <div style="height: 10px;"></div>
    </div>
</div>
</body>

</html>
