#new-container {
    width: 520px;
    background-image: url("img/bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#new-locust-container {
    width: 520px;
    background-image: url("img/detail_bg.ab3a5254.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#overview {
    width: 100%;
    height: 100px;
    background-image: url("img/data.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#detail {
    width: 100%;
    background-image: url("img/floor_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.small {
    font-size: 15px;
}

.avatar {
    width: 66px;
    height: 66px;
}

.avatar_width {
    width: 90px;
}

.avatar_text_width {
    width: 66px;
}

.avatar_mz {
    position: absolute;
    top: 0;
    right: 27px;
    width: 30px;
    height: 30px;
    background: rgba(0,0,0,.5);
    border-radius: 0 1px 0 1.6vw;
    color: #fff;
}

.hr {
    width: 100%;
    height: 1px;
    background-image: url("img/center.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.text-width {
    width: 100%;
}

.text-over {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.buff-img {
    width: 25px;
    height: 25px;
}

.bg-warning {
    background-image: url("img/zhufu_3_0.png");
}
