.container {
  width: 640px !important;
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 20px;
}

.header {
  background: #e0dad3 url(../gacha_log/img/starrail.png) no-repeat right;
  box-shadow: 0 0 8px #72a2ae79;
}

.frame {
  border-color: #cdbea8;
  color: #8a4d30;
}

.text-shadow {
  text-shadow: 0 0.08em 0.1em #00000023;
}

/* 下半 */
.content {
  box-shadow: 0 0 8px #72a2ae79;
  font-size: 21px;
  display: flex;
  flex-flow: column;
  justify-items: center;
}

.table tr {
  border-color: #00000021;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* 角色背景 */
.gold {
  background-color: #f7e2ad;
}
.nongold {
  background-color: #c4b9eb;
}

/* 计数+菱形图案 */
.number {
  position: relative;
  z-index: 0;
}

.number::after {
  content: "";
  position: absolute;
  z-index: -1;
}
.number.role::after {
  top: 6px;
  left: -4px;
  width: 21px;
  height: 21px;
  transform: rotateZ(45deg);
}
.weapon img {
  position: relative;
  z-index: 0;
}
.number.weapon::after {
  top: -1px;
  left: -6px;
  width: 66px;
  height: 33px;
  transform: skewX(-22deg);
}

.color .number {
  color: white;
}
.green .number::after {
  background-color: #3c7d7f;
}
.cyan .number::after {
  background-color: #4898c7;
}
.blue .number::after {
  background-color: #4576b4;
}
.purple .number::after {
  background-color: #955ec9;
}
.pink .number::after {
  background-color: #c24e9a;
}
.red .number::after {
  background-color: #c24e4e;
}

/* 武器背景 */
.weapon-1-star {
  background-color: #cfcfcf;
}
.weapon-2-star {
  background-color: #b5dfe0;
}
.weapon-3-star {
  background-color: #9fc9fd;
}
.weapon-4-star {
  background-color: #c4b9eb;
}
.weapon-5-star {
  background-color: #f7e2ad;
}

.notice {
  background-image: linear-gradient(135deg, #9452a5 10%, #fff5c3 100%);
}
