<!DOCTYPE html>
<html lang="zh-ch">
<head>
    <meta charset="UTF-8">
    <title>overview</title>
    <link type="text/css" href="./style.css" rel="stylesheet"/>
    <link type="text/css" href="../../styles/public.css" rel="stylesheet"/>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        .overview {
            border-radius: unset;
        }

        {% if title == '末日幻影' %}
        .boss-upper::before {
            background-image: url("{{ upper_boss.icon }}");
        }

        .boss-lower::before {
            background-image: url("{{ lower_boss.icon }}");
        }
        {% endif %}
    </style>
</head>
<body>
<div class="container">
    {% set summarize_class = '' %}
    {% if title == '混沌回忆' %}
    {% set overview_class = 'overview-abyss' %}
    {% set floor_page = 'starrail/abyss/floor.jinja2' %}
    {% endif %}
    {% if title == '虚构叙事' %}
    {% set overview_class = 'overview-abyss-story' %}
    {% set floor_page = 'starrail/abyss/floor_story.jinja2' %}
    {% endif %}
    {% if title == '末日幻影' %}
    {% set overview_class = 'overview-abyss-boss' %}
    {% set summarize_class = 'summarize-boss' %}
    {% set floor_page = 'starrail/abyss/floor_boss.jinja2' %}
    {% endif %}
    <div class="overview {{ overview_class }}">
        <div class="title">{{ title }}挑战回顾</div>
        <div class="summarize  {{ summarize_class }}">
            <div>
                <div>UID: {{ uid }}</div>
                <div class="star">
                    <span>{{ stars }}</span>
                </div>
            </div>
            <div>
                <div>本期开始: {{ start_time }}</div>
                <div>最深抵达: {{ max_floor }}</div>
            </div>
            <div>
                <div>本期结束: {{ end_time }}</div>
                <div>战斗次数: {{ total_battles }}</div>
            </div>
            {% if title == '末日幻影' %}
            <div>
                <div class="star boss-upper">
                    <span>{{ upper_boss.name_mi18n }}</span>
                </div>
                <div class="star boss-lower">
                    <span>{{ lower_boss.name_mi18n }}</span>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
        {% for data in floors %}
        {% if loop.index % 2 == 1 %}
            <div class="floors_row">
        {% endif %}
        {% include floor_page %}
        {% if loop.index % 2 == 0 or loop.index == loop.length %}
            </div>
        {% endif %}
        {% endfor %}
</div>
</body>
</html>
